@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

/* Навигация сайта */
.navbar {
    text-align: center;
  }

.nav-list {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.nav-item{
    display: inline-block;
}